<h1>物件一覧</h1>
<table>
  <tbody>
    <tr>
      <h5>
        <th>物件名</th>
        <th>賃料</th>
        <th>住所</th>
        <th>築年数</th>
        <th>備考</th>
      </h5>
    </tr>
    <% @estates.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.rent %>円</td>
        <td><%= e.address %></td>
        <td><%= e.age %>年</td>
        <td><%= e.remarks %></td>
        <td><%= link_to "詳細", estate_path(e.id) %></td>
        <td><%= link_to "編集", edit_estate_path(e.id) %></td>
        <td><%= link_to "削除", estate_path(e.id), method: :delete, data: { confirm: '本当に削除しますか？'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "物件を登録する", new_estate_path %></p>